image: node:20

stages:
  - build
  - pages

cache:
  paths:
    - node_modules/

before_script:
  - npm ci

build:
  stage: build
  variables:
    VITE_BASE_PATH: "/$CI_PROJECT_NAME/"
  script:
    - npm run build
    - mv dist public
  artifacts:
    paths:
      - public
    expire_in: 1 week
  only:
    - main

pages:
  stage: pages
  dependencies:
    - build
  script:
    - echo "Deploying GitLab Pages"
  artifacts:
    paths:
      - public
  only:
    - main
